.box{
    border: 1px solid black;
    width: 200px;
    height:200px;
    background-image: linear-gradient(red,green);
    background-image: linear-gradient(to top,red,green); 
    background-image: linear-gradient(to left,red,green); 
    background-image: linear-gradient(to right,red,green,yellow,pink);
    background-image: linear-gradient(to top right,red,green);
    background-image: linear-gradient(100  deg,red,green);
    background-image: linear-gradient(orange,white,green);


}

.div2{
    border:1px solid black;
     margin:10px;
    padding:10px;
    height:200px;
    width:200px;
    box-sizing: border-box;
    background-image: radial-gradient(yellow,green,red);  
    background-image: radial-gradient(10%yellow,30%green,50%red);  
    background-image:radial-gradient(circle ,red,green,orange);
    background-image:linear-gradient(orange,white,green);
    background-image:radial-gradient(circle,rgba(255,255,255,0),rgba(0,0,0,1))



} 